.searchInput {
  position: relative;
  width: 100%;

  // @include only-mobile {
  //   width: 288px;
  // }

  &-search {
    width: 95%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #b4bdc3;
    color: black;

    padding-left: 10px;
    padding-right: 40px;

    &:focus {
      outline: 1px solid #007aff;
      border-color: transparent;
    }

    // @include only-mobile {
    //   width: 288px;
    //   margin: 0 auto;
    // }
  }

  &-clearButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;

    &:hover {
      color: #000;
    }
  }
}
